nav.navbar{
    padding: 0px 0px 0px 10px;
}


svg:hover .octo-arm {
    animation:octocat-wave 560ms ease-in-out;
}
.octo-arm {
    transform-origin: 55% 55%;
    transform:rotate(-10deg) translateY(1px);
}
@keyframes octocat-wave{
    0%,100%{
        transform:rotate(-10deg);
    }
    20%,60%{
        transform:rotate(-1deg);
    }
    40%,80%{
        transform:rotate(10deg);
    }
}